<nav>
      <div class="nav-left">
        <a href="/"><img
          src="img/instagram_logo.png"
          alt=""
        /></a>
      </div>
      <div class="nav-center">
        <input type="text" placeholder="Search" />
      </div>

      <div class="nav-right">
        <ul>
          <a href="/"><li><i id="home" class="fass fas fa-home"></i></li></a>
          <li><i id="heart" class="fass far fa-heart"></i></li>
          <a href="/profile"> <li><i class="fass user fas fa-user"></i></li></a> 
        </ul>
      </div>
    </nav>