*{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Baloo Bhaina 2', cursive;
}
/* navbar style */
a{
    text-decoration: none;
    color: black;
}
nav{
    width: 100%;
    background-color:#fff;
    height: 54px;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
.nav-left{
    width: 20vw;
}
.nav-left img{
    margin-top: 10px;
}
.nav-center{
    width: 24vw;
}
.nav-center input{
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid rgb(175, 172, 172);
    width: 170px;
}
.nav-center input:focus{
    border: 1px solid red;
}
.nav-right{
    width: 10vw;
}
.nav-right ul{
    list-style: none;
    display: flex;   
}
.nav-right ul li{
    font-size: 25px;
    margin-left: 20px;
}
.fa-user{
    border-radius: 20px;
    border: 0.5px solid rgb(160, 157, 157);
    padding: 3px;
    font-size: 20px;
}
nav{
    margin-bottom: 100px;
}

@media screen and (max-width: 678px) {
    .nav-center{
        display: none;
    }
    nav{
        justify-content: flex-start;
    }
    .nav-left{
        width: 40vw; 
    }
    .nav-left img{
        margin-left: 15px;
    }
    .nav-right{
        margin-left: 50px;
    }
    .nav-right ul li{
        font-size: 22px;
        margin-left: 12px;
    }
}


.box{
    display: flex;
    justify-content: center;
    align-items: center;

}
form{
    margin-top: 100px;
}
input{
    margin: 15px;
}